
.perfil {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
}

.left-section {
    width: 30%;
}

.right-section {
    width: 65%;
}

.user-info {
    text-align: center;
    margin-bottom: 2rem;
}

.user-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 1rem;
    object-fit: cover;
}

.user-info h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.user-info p {
    font-size: 1rem;
    margin-bottom: 2rem;
}

.user-data {
    margin-bottom: 2rem;
}

.user-data h3 {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.user-data form {
    display: flex;
    flex-direction: column;
}

.user-data input,
.user-data select,
.user-data button {
    margin-bottom: 1rem;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
}

.user-data input::placeholder {
    color: #000000;
}

.user-data button {
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    padding: 0.5rem;
}

.info-section {
    margin-top: 2rem;
}

.info-item {
    text-align: center;
    margin-bottom: 2rem;
}

.info-item img {
    width: 100%;
    height: 30;
    border-radius: 100px;
    margin-bottom: 1rem;
}

.info-item h3 {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.info-item p {
    font-size: 1rem;
    margin-bottom: 1rem;
}

.info-item button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 0.5rem;
    cursor: pointer;
}

.right-section h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
    
}

.right-section h2 {
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.service-card {
    border: 2px solid #18A0FB;
    padding: 2rem;
    margin-bottom: 2rem;
    border-radius: 10px;
    background-color: #fff;
    position: relative;
}

.service-title {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 1.5rem;
    color: #000000; /* Asegúrate de ajustar el color según tu diseño */
    margin: 1rem;
}

.service-details {
    display: flex;
    align-items: flex-start;
    color:#000000
}

.service-image {
    width: 280px;
    height: 200px;
    border-radius: 50%;
    margin-right: 1rem;
    margin-top: 5rem; /* Ajusta el margen superior según sea necesario */
}

.service-info {
    display: flex;
    flex-direction: column;
    text-align: left;
    color:#000000
}

.service-description {
    font-size: 1rem;
    margin-bottom: 1rem;
}

.service-meta {
    font-size: 1rem;
    margin-bottom: 0.5rem;
  }

.service-meta-container {
    padding: 10px; 
  }

.small-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 0.3rem;
    cursor: pointer;
    margin-left: 0.5rem;
    font-size: 0.9rem;
}

.card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
}

.service-name {
    font-size: 20px;
    font-weight: bold;
    color:#000000
}

.card-buttons {
    display: flex;
    justify-content: flex-end;
}

.card-buttons button {
    margin-left: 0.5rem;
}

.cta-buttons {
    display: flex;
    justify-content: space-around;
}

.cta-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 0.5rem;
    cursor: pointer;
    font-size: 1rem;
    text-align: center;
    margin: 0.5em;
    text-decoration: none;
    height: 50px;
}

.user-data select {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    color: #000000; /* Color del texto */
  }
  
  .user-data select::placeholder {
    color: #000000; /* Color del placeholder */
  }
  
  .user-data select:hover,
  .user-data select:focus {
    border-color: #007bff; /* Cambia el borde al color principal de tu diseño al pasar el mouse o estar en foco */
  }
  
  .user-data select option {
    color: #000; /* Color del texto de las opciones */
  }
  
  .placeholder-dark {
    color: #000000; /* Color del placeholder en el select */
  }

  .user-data input[type="text"],
.user-data input[type="email"],
.user-data input[type="password"],
.user-data select {
  margin-bottom: 1rem;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  color: #495057; /* Color del texto */
}

.user-data input[type="text"]::placeholder,
.user-data input[type="email"]::placeholder,
.user-data input[type="password"]::placeholder,
.user-data select::placeholder {
  color: #6c757d; /* Color del placeholder */
}

.user-data input[type="text"]:hover,
.user-data input[type="text"]:focus,
.user-data input[type="email"]:hover,
.user-data input[type="email"]:focus,
.user-data input[type="password"]:hover,
.user-data input[type="password"]:focus,
.user-data select:hover,
.user-data select:focus {
  border-color: #007bff; /* Cambia el borde al color principal de tu diseño al pasar el mouse o estar en foco */
}

.user-data input[type="text"],
.user-data input[type="email"],
.user-data input[type="password"],
.user-data select {
  color: #000; /* Color del texto ingresado por el usuario */
}